* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EC1C24;
    padding-top: 160px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: white;
    border-bottom: 2px solid black;
    z-index: 11;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar .logo {
    font-size: 50px;
    font-weight: bold;
    margin-left: 50px;
}

.navbar .menu {
    display: flex;
    gap: 20px;
}

.navbar .menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar .calendrier-jaune {
    background-color: #F4E500;
    padding: 15px 15px;
    border-radius: 15px;
    font-weight: bold;
}

.icon-loupe {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 40px;
}
.header-gauche {
    display: flex;
    align-items: center;
    gap: 60px; 
}

.header-droite {
    display: flex;
    align-items: center;
    gap: 30px; 
}

.info-bannières {
    background-color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    color: white;
    z-index: 10;
    position: fixed;
    top: 119px;
    width: 100%;

}

/*CSS pour le icon-carre-1 */

.icon-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon-grid a {
    text-decoration: none;
}

.icon-carre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon-carre img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    filter: brightness(0) invert(1); 
    transition: all 0.3s ease-in-out;
}

.icon-carre p {
    margin: 0;
    font-size: 14px;
}

.icon-carre:hover {
    background-color: white;
    color: #ff0000; 
    transform: translateY(-10px); 
}

.icon-carre:hover img {
    filter: brightness(0) invert(0); 
}