body {
    font-family: 'Albert sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #000000;
    background-image: url("../images/BackgroundSupermarcher.JPG");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    background-color: white;
    z-index: 11;
    position: sticky;
    top: 0;
    width: 100%;
}

.header-gauche {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 15px;
}

#logo {
    font-size: 78px;
    margin-left: 80px;
    font-family: "Helvetica Neue";
    font-weight: 400;
}

.menu {
    display: flex;
    gap: 80px;
    margin-left: 50px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.header-droite {
    display: flex;
    align-items: center;
    gap: 49px;
    margin-right: 0px;
}

/* calendrier */
#calendrier-jaune {
    background-color: #F4E500;
    padding: 15px 15px;
    border-radius: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 240px;
    cursor: pointer;
}

#calendrier-heure-bold {
    font-weight: bold;
    font-size: 20px;
}

.conteneur-calendrier {
    position: absolute;
    top: 105px;
    right: 150px;
    left: auto;
    background-color: yellow;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    display: none;
    z-index: 1000;
    border-radius: 15px;
}

.calendrier {
    display: flex;
    flex-direction: column;
}

.entete-calendrier {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.corps-calendrier {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    text-align: center;
}

.corps-calendrier div {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.corps-calendrier div:hover {
    background-color: #f0f0f0;
}

.jour-ouvert {
    background-color: #ADD8E6;
    color: rgb(122, 122, 122);
    border-radius: 10px;
}

.aujourdhui {
    background-color: #FFCC00;
    color: black;
}


@media screen and (max-width: 768px) {
    .conteneur-calendrier {
        position: fixed;
        width: 90%;
        max-width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1100;
    }

    .header-droite {
        display: flex;
        align-items: center;
    }

    .corps-calendrier div {
        padding: 5px;
        font-size: 12px;
    }
}

.conteneur-calendrier {
    z-index: 1000;
}

@media screen and (max-width: 1200px) {
    .conteneur-calendrier {
        position: fixed;
        width: 100%;
        max-width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1100;
    }

    .header-droite {
        display: flex;
        align-items: center;
    }

    .corps-calendrier div {
        padding: 5px;
        font-size: 12px;
    }
}


#icon-loupe {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 40px;
}

#info-bannières {
    background-color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.conteneur-barre-recherche {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.barre-recherche {
    width: 0;
    height: 40px;
    background-color: white;
    border: 2px solid #ffffff;
    border-radius: 20px;
    overflow: hidden;
    transition: width 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
}

.barre-recherche.actif {
    width: auto;
    border-color: #F4E500;
    padding: 0 10px;

}

.barre-recherche input {
    width: 80%;
    border: none;
    outline: none;
    font-size: 14px;
}



@media (min-width: 769px) and (max-width: 1200px) {
    .conteneur-barre-recherche {
        margin-left: 10px;
    }

    .barre-recherche {
        left: 100%;
        margin-left: 10px;
        right: auto;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        padding: 15px;
        height: auto;
    }

    .header-gauche {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
    }

    #logo {
        margin-left: 0;
        font-size: 55px;
    }

    .menu {
        flex-direction: row;
        align-items: center;
        gap: 30px;
        margin-left: 0;
    }

    .header-droite {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-right: 0;
        margin-top: 15px;
    }

    #calendrier-jaune {
        width: 240px;
        max-width: 90%;
    }

    #icon-loupe {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 15px;
        height: auto;
    }

    .header-gauche {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
    }

    #logo {
        margin-left: 0;
        font-size: 50px;
    }

    .menu {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        margin-left: 0;
    }

    .menu a {
        font-size: 16px;
    }

    .header-droite {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-right: 0;
        margin-top: 15px;
    }

    #calendrier-jaune {
        width: 200px;
        max-width: 80%;
    }

    #icon-loupe {
        margin-right: 0;
    }

    #info-bannières {
        font-size: 14px;
    }
}



@media screen and (max-width: 1280px) {
    body {
        background-image: url("../images/BackgroundSupermarcher.JPG");
        background-attachment: fixed;
        background-size: auto;
    }
}




.hashtag-vertical-fixed {
    position: fixed;
    display: flex;
    gap: 10px;
    top: 65%;
    left: -80px;
    transform: rotate(-90deg);
    z-index: 1000;
    align-items: center
}

.hashtag-vertical-fixed img {
    width: 9%;
}

.logo-vertical {
    transform: rotate(90deg);
}

.logo-vertical:hover {
    transform: rotate(90deg) scale(1.2);
    transition: all 0.3s ease-in-out;
}

.text-vertical {
    font-size: 35px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2.3px black;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 900;
    font-style: italic;
    letter-spacing: -3px;
}

@media screen and (max-width: 1200px) {
    .hashtag-vertical-fixed img {
        width: 8%;
    }

    .text-vertical {
        font-size: 25px;
        -webkit-text-stroke: 1.5px black;
    }

}



/* Img grosse 1ere partie */

.container {
    display: flex;
    gap: 50px;
    height: auto;
    margin-top: 35px;
    padding-top: 40px;
    justify-content: space-between;
    background-color: #ff0000;
    padding-bottom: 30px;
}

.gauche {
    flex: 2;
    position: relative;
}

.image-gauche {
    position: relative;
}

.image-gauche img {
    width: 100%;
    height: auto;
    display: block;
}

.boutons-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.cercle-bouton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(168, 168, 168, 0.5);
    border: none;
    cursor: pointer;
}

.droite {
    flex: 1;
    position: relative;
}

.image-droite {
    position: relative;
}

.image-droite img {
    width: 100%;
    height: auto;
    display: block;
}

.texte-droite {
    position: absolute;
    top: 0;
    margin-left: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.logo {
    width: 500px;
    height: 65px;
    background: transparent url('/static/images/primarkLogo.png') no-repeat padding-box;
    opacity: 1;
}

.mode-deco {
    margin-bottom: 50%;
    font: italic normal normal 43px/38px Brush Script MT;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.evenement {
    font: normal normal bold 43px/38px Albert Sans;
    letter-spacing: 0;
    color: #000000;
}

.date {
    margin-bottom: 30%;
    font: normal normal normal 30px/38px Albert Sans;
    letter-spacing: 0;
    color: #000000;
}

.bouton-droite {
    margin-bottom: 10%;
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: #FF6347;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.bouton-droite:hover {
    background-color: #ff0000;
    transform: scale(1.1);

}

.cercle-bouton.active {
    background-color: rgba(255, 255, 255, 0.8);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }

    70% {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.0);
    }
}

@media screen and (max-width: 1200px) {
    .conteiner {
        height: auto;

    }

    .texte-droite {
        bottom: 10px;
        left: -75px;
    }

    .logo {
        width: 175px;
        height: 40px;
        background-size: contain;
    }

    .mode-deco {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .evenement {
        font-size: 20px;
        line-height: 1.2;
    }

    .date {
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .bouton-droite {
        font-size: 14px;
        padding: 8px 15px;
    }

}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 30px;

    }

    .gauche,
    .droite {
        flex: unset;
        width: 100%;
    }

    .texte-droite {
        background-color: #ddd;

        position: static;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }

    .logo {
        width: 200px;
        height: 30px;
        margin-bottom: 10px;
    }

    .mode-deco {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .evenement {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .date {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .bouton-droite {
        font-size: 14px;
        position: relative;
        margin-right: 30px;


    }
}



/*CSS pour le icon-carre-1 */
.icon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 60vh;
    background-color: #ff0000;
    padding-top: 50px;
}

.icon-grid a {
    text-decoration: none;
}

.icon-carre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border: 4px solid white;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon-carre img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    filter: brightness(0) invert(1);
    transition: all 0.3s ease-in-out;
}

.icon-carre p {
    margin: 0;
    font-size: 18px;
}

.icon-carre:hover {
    background-color: rgb(255, 255, 255);
    transform: translateY(-10px);
    color: black;
}

.icon-carre:hover img {
    filter: brightness(0) invert(0);
}


.icon-carre:hover img {
    filter: brightness(0) invert(0);
}

@media (max-width: 900px) {
    .icon-grid {
        gap: 20px;
    }

    .icon-carre {
        width: 140px;
        height: 140px;
    }
}

/*Carrousel slider image */

.banner-container {
    display: flex;
    justify-content: space-between;
    background-color: #ff0000;
    color: #fff;
    padding: 30px 20px;
}

.banner-left {
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.banner-title {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.banner-title span {
    margin-left: 50px;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.banner-right {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-toute-actus {
    background-color: white;
    color: #ff0000;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
}

.btn-toute-actus:hover {
    background-color: #ffe5e5;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.progress-bar {
    height: 2px;
    width: 750px;
    background-color: #ffffff;
    position: relative;
}

.progress-bar-inner {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100px;
    height: 100%;
    background-color: #22f80f;
    transition: left 0.3s ease;
    display: none;
}

.arrow {
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    transition: transform 0.2s;
}

.arrow:hover {
    transform: scale(1.2);
}

.slider-container {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    scroll-behavior: smooth;
    background-color: #ff0000;
    padding-bottom: 50px;
}

.slider-image {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 0 22px;
    background-color: #ccc;
    border-radius: 20px;
    object-fit: cover;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .banner-container {
        padding: 20px 15px;
    }

    .banner-left,
    .banner-right {
        margin: 0 50px;
    }

    .banner-title {
        font-size: 40px;
    }

    .progress-bar,
    .progress-bar-inner {
        display: none;
    }

    .slider-image {
        width: 200px;
        height: 100px;
        margin: 0 70px;
    }
}



@media screen and (max-width: 768px) {
    .banner-container {
        flex-direction: column;
        padding: 15px 10px;
        text-align: center;
    }

    .banner-left,
    .banner-right {
        margin: 0;
        width: 100%;
    }

    .banner-title {
        font-size: 30px;
    }

    .banner-title span {
        margin-left: 0;
    }

    .btn-toute-actus {
        margin-top: 10px;
        align-self: center;
    }

    .progress-bar-container {
        margin-top: 10px;
    }

    .progress-bar,
    .progress-bar-inner {
        display: none;
    }

    .slider-image {
        width: 150px;
        height: 100px;
        margin: 0 100px;
    }
}





/* CSS du Icon-Carre-2  */

.icon-grid2 a {
    text-decoration: none;
}

.icon-carre2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border: 4px solid white;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon-carre2 img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.icon-carre2 p {
    margin: 0;
    font-size: 18px;
}

.deuxieme .icon-carre2:hover {
    background-color: rgb(255, 0, 0);
    transform: translateY(-10px);
}




/* Shopping conteneur tout ce qu'il y a dans l'image */
.section-image {
    width: 100%;
    height: 90vh;
    padding-bottom: 200px;
}

.shopping-conteneur {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    min-height: 100vh;
    gap: 2rem;
}

.icon-grid2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 70px;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.header-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}

.titre-shopping {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.titre-shopping span {
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.bouton-toute-boutique {
    background-color: white;
    color: #ff0000;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.info-text {
    text-align: center;
    color: white;
    font-size: 20px;
    max-width: 800px;
    width: 90%;
    margin: 10px auto auto auto;
}

@media (max-width: 1400px) {
    .icon-grid2 {
        gap: 50px;
    }
}

@media (max-width: 1200px) {
    .icon-grid2 {
        gap: 40px;
    }
}

@media (max-width: 900px) {
    .icon-grid2 {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .icon-grid2 {
        gap: 20px;
        align-items: center;
    }

    .icon-carre2 {
        width: 180px;
        height: 180px;
    }

    .info-text {
        font-size: 18px;
        padding: 0 20px;
    }
}


/* tout le css du carre jaune newsletter conteneur   */
.newsletter-conteneur {
    width: 65%;
    height: 300px;
    margin: -320px auto 0;
    background-color: #FFD700;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter-conteneur h3 {
    font-size: 50px;
    color: #000;
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
    margin-bottom: 15px;
    font-weight: 800;
}

.newsletter2 {
    display: flex;
    justify-content: center;
}

.newsletter2 form {
    width: 40%;
}

.newsletter2 input {
    flex: 1;
    border: 3px solid #000;
    padding: 20px;
    padding-left: 30px;
    border-radius: 30px;
    background-color: #FFD700;

}

.newsletter2 .input-conteneur2 ::placeholder {
    color: #000;
    font-size: 15px;
}

.input-conteneur2 {
    position: relative;
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.submit-fleche2 {
    position: absolute;
    right: 75px;
    top: 20%;
    background: none;
    border: none;
    cursor: pointer;

}

.newsletter2 button {
    padding: 5px 15px;
    font-size: 25px;
    color: #000;
}

.submit-fleche2:hover {
    transform: translateX(8px);
    transition: all 0.4s ease-in-out;
}

.texte-newsletter {
    font-size: 15px;
    color: #333;
    margin: 20px auto 0;
    max-width: 59%;
    text-align: center;
}



.hashtag-enmode {
    position: absolute;
    left: 2%;
    bottom: 76%;
    font-size: 24px;
    z-index: 10;
}

.hashtag-enmode p {
    font-size: 55px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 3px black;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 900;
    font-style: italic;
    letter-spacing: -3px;
}

.section-image-carrousel {
    margin-top: -170px;
    height: auto;
    background-color: #ff0000;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
}



.conteneur-carrousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 50px 40px;
    box-sizing: border-box;
}

.carrousel {
    display: flex;
    transition: all 0.3s ease-in-out;
    gap: 110px;
    margin-top: 210px;
}

.image-carrousel {
    flex: 0 0 160px;
    width: 140px;
    height: 140px;
    background: white;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.image-carrousel:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.logo-marque {
    object-fit: contain;
}



@media (max-width: 1200px) {
    .newsletter-conteneur {
        margin: -100px auto 0;
    }
}

@media (max-width: 992px) {
    .newsletter-conteneur {
        margin: -50px auto 0;
        width: 75%;
    }
}

@media (max-width: 768px) {
    .newsletter-conteneur {
        margin: 30% auto 0;
        width: 90%;
        padding: 15px;
    }

    .newsletter-conteneur h3 {
        font-size: 30px;
    }

    .newsletter2 form {
        width: 70%;
    }

    .hashtag-enmode p {
        font-size: 40px;
    }

    .hashtag-enmode {
        bottom: 82%;
    }
}

@media (max-width: 576px) {
    .newsletter-conteneur {
        margin: 50% auto 0;
        width: 90%;
        padding: 15px;
    }

    .newsletter-conteneur h3 {
        font-size: 30px;
    }

    .newsletter2 form {
        width: 80%;
    }

    .hashtag-enmode p {
        font-size: 40px;
    }

    .hashtag-enmode {
        bottom: 82%;
    }
}


footer {
    background-color: white;
    border-top: 5px solid #e40000;
    font-family: Arial, sans-serif;
    color: #000;
    padding: 50px 50px 0 50px;
    margin-bottom: 0;
}

.footer-conteneur {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 40px;
}

.footer-gauche,
.footer-millieu,
.footer-droite {
    flex: 1;
    min-width: 250px;
}


.footer-gauche .logo-footer {
    font-size: 50px;

}

.footer-gauche .address p {
    margin: 5px 0;
}

.footer-gauche .address {
    margin-top: 100px;


}

.footer-gauche .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-gauche .contact-button {
    border: 2px solid #6d6d6d;
    background: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    width: fit-content;
    margin-bottom: 5px;
    border-radius: 10px;
}

.footer-gauche .contact-button:hover {
    border: 2px solid #000000;

}

.footer-gauche .contact-button img {
    width: 15px;
    height: 15px;
    margin-top: 4px;
    margin-right: 4px;

}


.footer-millieu ul {
    list-style: none;
    padding: 0;
}

.footer-millieu ul li {
    margin: 8px 0;
}

.footer-millieu ul li a {
    text-decoration: none;
    color: #000;
}

.footer-millieu ul li a:hover {
    color: #e40000;
    text-decoration: underline;
}


.footer-millieu .gras {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-menu-lien {
    margin-bottom: 20px;
}


.footer-droite .social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.footer-droite .social-icons img {
    width: 24px;
    height: 24px;
}

.footer-droite .social-icons img:hover {
    transform: translateY(-8px);
    transition: all 0.3s ease-in-out;
}

.footer-droite .social-icons span {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.footer-droite .social-icons .partage {
    color: #e40000;
}

.footer-droite .newsletter {
    margin-top: 10px;
}

.footer-droite .newsletter form {
    display: flex;
    align-items: center;
    gap: 5px;

}

.footer-droite .newsletter input {
    flex: 1;
    border: 3px solid #000;
    padding: 15px;
    padding-left: 30px;
    border-radius: 30px;
    width: 80%;

}

.footer-droite .newsletter p {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-droite .newsletter .input-conteneur ::placeholder {
    color: #000;
}

.input-conteneur {
    position: relative;
    width: 100%;
}

.input-conteneur input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-fleche {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.footer-droite .newsletter button {
    padding: 5px 30px;
    font-size: 25px;
    color: #000;
}

.footer-droite .newsletter button:hover {
    color: rgb(125, 125, 125);
}


.footer-bas {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 0 0;
    padding: 20px 100px;
}

.footer-bas a {
    text-decoration: none;
    color: #000;
}

.footer-bas a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .footer-conteneur {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-gauche,
    .footer-millieu,
    .footer-droite {
        width: 100%;
        max-width: 500px;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-gauche .address {
        margin-top: 20px;
    }

    .footer-gauche .contact {
        align-items: center;
    }

    .footer-millieu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-droite .social-icons {
        justify-content: center;
    }

    .footer-bas {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
        gap: 15px;
    }
}